.slection-main {
    width: 100%;
    position: relative;
    height: 280px;
    display: flex;
    justify-content: center;
    top: -8rem;
}

.slection-box {
    position: absolute;
    margin: 0 auto;
    /* display: flex; */
    flex-direction: column;
    gap: 2rem;
    top: 6em;
    width: 100%;
}

.selection-list {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 0 0 10px 0;
}

.search-select-button {
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.search-span-icons {
    height: 15px;
}

.search-select-button:hover {
    color: var(--sandalwood-brown);
}

.search-select-button.active {
    padding: 0em 0 0.5em 0;
    border-bottom: 2px solid var(--white-color);
    color: var(--white-color);
}

.advanced-search-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-option {
    display: flex;
    gap: 1rem;
}

.search-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: transparent;
    width: 183px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.time-picker {
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid lightgray;
}

.date-picker {
    width: 180px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: transparent;
}

.select-filter {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: transparent;
    padding: 8px;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.css-1nmdiq5-menu {
    z-index: 999;
}

@media (max-width: 768px) {

    .advanced-search-bar {
        flex-direction: column;
    }
}