.slection-main {
    width: 100%;
    position: relative;
    height: 280px;
    display: flex;
    justify-content: center;
    top: -8rem;
}

.slection-box {
    position: absolute;
    margin: 0 auto;
    /* display: flex; */
    flex-direction: column;
    gap: 2rem;
    top: 8em;
    width: 100%;
    padding: 0 0 0 2rem;
}

.selection-list {
    display: flex;
    gap: 2em;
    /* justify-content: center; */
    padding: 0 0 10px 0;
}

.search-select-button {
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.search-span-icons {
    height: 15px;
}

.search-select-button:hover {
    color: var(--sandalwood-brown);
}

.search-select-button.active {
    padding: 0em 0 0.5em 0;
    border-bottom: 2px solid var(--white-color);
    color: var(--white-color);
}

.advanced-search-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 35%;
    /* margin: auto; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-option {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 72%;
}

.search-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: transparent;
    width: 183px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.destination{
    width: 72%;
}

.time-picker {
    width: 180px;
    background-color: #f9f9f9;
    border: 1px solid lightgray;
}

.date-picker {
    width: 180px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: transparent;
}

.select-filter {
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: transparent;
    padding: 8px;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.search-button:hover {
    background-color: #0056b3;
}

.css-1nmdiq5-menu {
    z-index: 999;
}

@media (max-width: 1440px) {

    .advanced-search-bar{
        width: 41%;
    }
}

@media (max-width: 1024px) {

    .advanced-search-bar {
        width: 58%;
    }
}

@media (max-width: 770px) {

    .slection-box {
        padding: 0;
    }

    .selection-list { 
        justify-content: center;
    }

    .advanced-search-bar {
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 430px) {

    .advanced-search-bar {
        flex-direction: column;
    }

    .radio-option {
        flex-direction: column;
    }
}

@media (max-width: 376px) {

    .selection-list {
        padding: 0 10px 10px 10px;
        overflow: scroll;
        justify-content: flex-start;
    }

    .advanced-search-bar {
        flex-direction: column;
        align-items: flex-start;
    }
}