.breadcrumb {
    display: flex;
    padding: 0.5rem 1rem;
    list-style: none;
    margin: 0;
    overflow: auto;
}

.breadcrumbItem {
    display: flex;
    align-items: center;
}

.breadcrumbItem a {
    text-decoration: none;
    color: var(--indigo-blue);
    white-space: nowrap;
}

.breadcrumbItem span {
    white-space: nowrap;
}

.breadcrumbItem a:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 0.5rem;
    color: #666;
}