.faqItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faqQuestion {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 1rem 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease-in-out;

    &:focus {
        outline: none;
    }
}

.faqAnswer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;

    & > p {
        margin: 0;
    }
}

.show {
    max-height: 500px; /* Adjust based on content length */
    opacity: 1;
    padding: 10px 10px;
    background: #f9f9f9;
    border-left: 3px solid #007bff;
}

.hide {
    max-height: 0;
    opacity: 0;
    padding: 0;
}

/* Arrow Animation */
.arrowDown {
    transition: transform 0.3s ease-in-out;
}

.arrowUp {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.faqPageContainer {
    margin: 0 auto;
    padding: 20px;
}

.faqTitle {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.faqs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
