.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--white-color);
    color: var(--black-color);
}

.logo {
    font-size: 1.5rem;
    background: linear-gradient(90deg, var(--safforn-orange) 0%, var(--indigo-blue) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

.headerList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.headerName {
    color: var(--black-color);
    cursor: pointer;
    transition: color 0.3s ease;
    font-weight: bold;
}

.headerName:hover {
    color: var(--safforn-orange);
}

.headerButton {
    padding: 0.5rem 1rem;
    background-color: var(--safforn-orange);
    color: var(--cream-white);
    border: 1px solid var(--safforn-orange);
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.headerButton:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--safforn-orange);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s ease-in-out;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mobile.headeritems {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    max-width: 300px;
    background-color: var(--white-color);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9;
    display: block;
    padding: 3rem 1rem;
}

.mobile.headeritems.open {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .headerList{
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .logo {
        font-size: 1.60rem;
    }
    .hamburger {
        font-size: 1.25rem;
    }
    .mobile.headeritems {
        width: 100%;
    }
}
