.hero {
    position: relative;
    width: 100%;
    /* height: 80vh; */
    overflow: hidden;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.3));
}

.video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.heroImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.heroImage {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.img {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    object-fit: fill;
}

.heroImage.active {
    left: 0;
    opacity: 1;
}

.heroImage.slideOut {
    left: -100%;
    opacity: 0;
}

.animatedHero {
    position: relative;
    width: 100vw;
    height: 80vh;
    /* background: url("/main-banenr.webp");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -prefix-background-size: cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.3));
}

.heroImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.heroContent {
    position: relative;
    z-index: 2;
    /* color: white; */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    & > h1 {
        font-size: 3rem;
        color: var(--indigo-blue);
        font-weight: bold;
        font-family: cursive;
    }

    & > p {
        font-size: 1.5rem;
        margin-top: 10px;
    }
}

.allButton {
    position: absolute;
    bottom: 2%;
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: 15px;
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    overflow: auto;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
}

.linksButton {
    padding: 0.8em 0em; 
    background-color: var(--indigo-blue);
    color: var(--white-color);
    border-radius: 15px;
    white-space: nowrap;
    width: 100%;
    max-width: 770px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(1.2);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
}

.scrollContent {
    height: 200vh;
    background: white;
    padding: 2rem;
}


@media (max-width: 1440px) {
    .heroTitle {
        top: 5em;
    }

    .heroCaption {
        top: 22em;
    }
}

@media (max-width: 1024px) {
    .heroTitle {
        top: 2.5em;
    }

    .heroCaption {
        top: 15em;
    }
}

@media (max-width: 768px) {
    .heroTitle {
        top: 1em;
    }

    .heroCaption {
        top: 10em;
    }
}

@media (max-width: 430px) {

    .heroContent > h1 {
        font-size: xx-large;
    }

    .animatedHero {
        height: 65vh;
    }

    .allButton {
        padding-left: 7em;
    }

    .linksButton {
        padding: 0.5em 1em;
    }


    .hero { 
        height: 86dvh;
    }

    .video {
        object-fit: cover;
    }
}
