.hero {
    position: relative;
    width: 100%;
    /* height: 80vh; */
    overflow: hidden;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.3));
}

.video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.heroImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.heroImage {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.img {
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    object-fit: fill;
}

.heroImage.active {
    left: 0;
    opacity: 1;
}

.heroImage.slideOut {
    left: -100%;
    opacity: 0;
}

.animatedHero {
    position: relative;
    background-attachment: fixed;
    width: 100vw;
    height: 80vh;
    background: url("/main-banenr.webp");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -prefix-background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.heroContent {
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 2rem;
    border-radius: 10px;

    & > h1 {
        color: var(--indigo-blue);
        font-weight: bold;
        font-family: cursive;
    }
}

/* Add scrolling content */
.scrollContent {
    height: 200vh; /* Ensures you can scroll */
    background: white;
    padding: 2rem;
}


@media (max-width: 1440px) {
    .heroTitle {
        top: 5em;
    }

    .heroCaption {
        top: 22em;
    }
}

@media (max-width: 1024px) {
    .heroTitle {
        top: 2.5em;
    }

    .heroCaption {
        top: 15em;
    }
}

@media (max-width: 768px) {
    .heroTitle {
        top: 1em;
    }

    .heroCaption {
        top: 10em;
    }
}

@media (max-width: 430px) {

    .heroContent > h1 {
        font-size: xx-large;
    }

    .animatedHero {
        height: 65vh;
    }

    .hero { 
        height: 86dvh;
    }

    .video {
        object-fit: cover;
    }

    /* .img {
        height: 50% !important;
    } */
}
