.carousel-container {
    position: relative;
    max-width: 1200px;
    margin: 2rem auto;
    width: 100%;
    overflow: hidden;
}

.slide-name {
    margin: 0 0 1rem 0;
}

.carousel-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.carousel-image:last-child {
    margin-right: 0;
    /* Remove margin for the last image */
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}