.testimonialMainBox {
    /* max-width: 1200px; */
    padding: 2rem;
    text-align: center;
    margin: auto;
    background-color: var(--white-color);
}

.testimonialMainBox h2 {
    margin-bottom: 2rem;
}

.testimonialBoxFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.testimonialBox {
    position: absolute;
    transition: transform 0.6s ease, opacity 0.6s ease;
    width: calc(100% / 3);
    max-width: 90%;
    padding: 1.5rem;
    text-align: center;
    background-color: var(--grey-color);
    opacity: 0;
    transform: scale(0.8);
    z-index: 1;
}

.testimonialBox.active {
    opacity: 1;
    transform: scale(1);
    z-index: 3;
    background-color: var(--white-color);
    box-shadow: 0 0px 20px 0px var(--gray-flash);
}

.testimonialBox.prev {
    opacity: 0.5;
    transform: translateX(-100%) scale(0.8);
    z-index: 2;
}

.testimonialBox.next {
    opacity: 0.5;
    transform: translateX(100%) scale(0.8);
    z-index: 2;
}

.testimonialBox.hidden {
    opacity: 0;
    transform: translateX(0) scale(0.6);
    z-index: 1;
}

.rating {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating::before {
    --rating-max: 5;
    --rating-content: '★★★★★';
    --rating-inactive-color: #cccccc;
    --rating-background: #f4b936;
    --rating-percent: calc(var(--rating-value) / var(--rating-max) * 100%);

    content: var(--rating-content);
    background: linear-gradient(90deg, var(--rating-background) var(--rating-percent), var(--rating-inactive-color) var(--rating-percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.dots {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 14px;
    height: 14px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0.8);
    transition: background-color 0.3s, transform 0.3s ease;
}

.dot:hover {
    background-color: var(--black-color);
    opacity: 0.6;
}

.dot.activeDot {
    background-color: var(--black-color);
    /* transform: scale(1); */
}

@media (max-width: 1030px) {

    .testimonialBoxFlex {
        height: 450px;
    }

    .testimonialBox {
        padding: 1rem;
    }
}

@media (max-width: 770px) { 

    .testimonialBoxFlex {
        height: 380px;
    }

    .testimonialBox {
        width: 50%;
    }
}

@media (max-width: 430px) {

    .testimonialMainBox {
        padding: 0;
    }

    .testimonialMainBox h2 {
        margin: 1rem 0 0.5rem 0;
    }

    .testimonialBoxFlex {
        height: 330px;
    }

    .testimonialBox {
        width: 100%;
        opacity: 0;
        transform: scale(0.8);
        z-index: 1;
    }

    .testimonialBox.active {
        opacity: 1;
        transform: scale(1);
        z-index: 3;
    }
}
