.recentBlogsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0; /* Add spacing above and below the section */
}

.recentBlogsHeader h2 {
    margin: 0;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    background-color: var(--white-color);
}

.recentBlogsHeader::before,
.recentBlogsHeader::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-text);
}

.recent-blogs-header::before {
    left: 0;
}

.recent-blogs-header::after {
    right: 0;
}

.blogsection {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)) 1fr;
    gap: 1rem;
    padding: 1em 0 0 0;
}

.mainblog {
    height: auto;
    margin: 0 0 1em 0;
    border-radius: 10px;
    border: 1px solid var(--lvory-color);
    box-shadow: 0 0 20px 0px #dbdbdb;

    &:hover {
        box-shadow: 0 0 20px 0px #484646;
        transition: all 0.3s ease-in-out;
    }
}

.blogImgBox {
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    min-height: 200px;
    max-height: 500px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.3));
}

.blogSingleImgBox {
    width: 100%;
    overflow: hidden;
    max-width: 1400px;
    aspect-ratio: 2/1;
    position: relative;
    border-radius: 10px;
}

.blogImg {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.blogText {
    padding: 1em;
}

.blogTitle {
    font-size: large;
    margin: 10px 0;
    color: var(--black-color);
}

.blogSingleTitle {
    font-size: xx-large;
    margin: 10px 0;
    color: var(--black-color);
}

.blogDescription {
    margin: 0;
    font-size:medium;
    color: var(--secondary-text);
}

.blogCatDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogCategories {
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
    width: max-content;
    color: var(--earthy-brown);
    background-color: var(--turmeric-yellow);
    font-size: small;
}

.blogSingleCategories {
    margin: 0;
    padding: 5px 10px;
    border-radius: 10px;
    width: max-content;
    color: var(--earthy-brown);
    background-color: var(--turmeric-yellow);
    font-size: medium;
}

.blogDate {
    margin: 0;
    font-size: smaller;
}

.blogSingleDate {
    font-size: medium;
}

.blogBullet {
    list-style: disc;
    margin: 0 0 0 2rem;
    font-size: large;
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
    .blogsection {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

/* Small screens (mobile) */
@media (max-width: 768px) {
    .blogsection {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .blogsection {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .blogSingleTitle {
        font-size: 1.5rem;
    }

    .blogBullet { 
        font-size: medium;
    }
}