
.home-tour {
    width: 100%;
    padding: 3em 0 3em 0;
    margin: 2rem 0 0 0;
    background-color: var(--grey-color);
    border-radius: 10px;
}

.home-tour:nth-child(odd) {
    background-color: var(--white-color);
}

.home-tour-flex {
    display: flex;
    /* gap: 4em; */
    justify-content: space-evenly;
}

.tour-img {
    width: 20%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 770px) {

    .tour-img {
        width: 45%;
        height: 300px;
    }
}

@media (max-width: 430px) {

    .home-tour {
        padding: 0.5em 0 0.5em 0;
        margin: 1em 0 0 0;
    }

    .home-tour-flex {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .tour-img {
        order: -1;
        width: 100%;
        height: 200px;
    }
}