
.home {
    /* height: 100dvh; */
    padding: 5em 1em 0em 1em;
}

.tour-image-slider {
    width: 100%;
    height: 20rem;
    margin: 2rem auto;
    overflow: hidden;
    background-color: var(--gray-flash);
}

.tour-name {
    padding: 1rem;
}

.img-slider-img {
    object-fit: cover;
    width: 30%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    /* transition: translate 300ms ease-in-out; */
}

.slick-list .slick-initialized .slick-slide {
    display: flex !important;
}

.slick-slide {
    height: auto !important;
}

.slick-slide > div {
    height: 100%;
}

.slick-prev {
    z-index: 9;
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}

.slick-prev:before, .slick-next:before {
    border-radius: 50%;
    background-color: black;
}

.slick-track {
    display: flex !important;
    gap: 2rem;
}

@media (max-width: 430px) {

    .home {
        padding: 4em 0.5em 0em 0.5em;
    }
}