
.profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px 10px var(--gray-flash);
    border-radius: 10px;
}

.profileMain {
    padding: 1rem;
    text-align: center;
}

.profileBox {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.flexCode {
    display: flex;
}

.agentCode {
    background-color: var(--gray-flash);
    color: var(--black-color);
    max-height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logOutButton {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: var(--vermilion-red);
    color: var(--white-color);
    outline: none;
    border: none;

    &:hover {
        box-shadow: 0 0 10px 0px var(--vermilion-red);
        transition: all 0.5s ease-in-out;
    }
}

.profileDetailsBox {
    padding: 1rem;
    min-height: 60dvh;
}

.buttonFlex {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--gray-flash);
    padding: 1rem;
}

.button {
    width: 100%;
    cursor: pointer;
    padding: 1em;
    background-color: var(--gray-flash);
    color: var(--black-color);
    outline: none;
    border: none;
    border-radius: 10px;

    &:hover {
        background-color: var(--white-color);
        transition: all 0.5s ease-in-out;
    }
}

.button.active {
    background-color: var(--white-color);
    color: var(--black-color);
}

.bookingTableContainer {
    overflow-x: auto;
    width: 100%;
}

.bookingTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    margin-top: 20px;
}

.bookingTable th,
.bookingTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.bookingTable th:first-child {
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: 2;
}

.bookingTable td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: var(--white-color);
}

.naText {
    color: var(--vermilion-red);
}

.offerText {
    color: var(--peacock-green);
}

.disabledRow {
    background-color: var(--gray-flash);
    color: var(--secondary-text);
    pointer-events: none; /* Prevent interaction */
    opacity: 0.6; /* Dim the row */
}

.evenRow:hover, 
.oddRow:hover {
    background-color: var(--table-hover);
    color: #000;
}

@media (max-width: 430px) {

    .profileBox {
        flex-direction: column;
        padding: 1em 0;
    }

    .profileMain, .profileDetailsBox, .buttonFlex {
        padding: 0.5rem;
    }

    .buttonFlex {
        overflow-x: scroll;
    }

    .bookingTableContainer {
        overflow-x: scroll;
    }

    .bookingTable {
        min-width: 800px;
    }
}
