.tourdetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: auto;
}

.tourdetailsBox {
    position: relative;
    overflow: hidden;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Float the image to the left with margin */
.tourdetailsImg {
    float: left;
    width: 35%;
    height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* Ensure text wraps around the image */
.tourdetailsText {
    line-height: 1.6;
}

.tourBuybutton {
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--peacock-green);
    color: var(--white-color);
    width: 160px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 1) 1.95px 1.95px 2.6px;
        transition: all .3s ease-in-out;
    }
}

.tourdetailsInfo {
    clear: both;
    /* Prevent floating issues */
    margin-top: 20px;
    font-weight: bold;
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .tourdetailsImg {
        height: 250px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {

    .tourdetails {
        width: 80%;
    }

    .tourdetailsImg {
        float: none;
        width: 100%;
        /* Full width on smaller screens */
        margin: 0 auto 15px;
        display: block;
    }
}

@media (max-width: 430px) {

    .tourdetails {
        width: 100%;
    }
}