.tourBox {
    display: flex;
    gap: 2em;
}

.tourdetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.bookingFrom {
    position: sticky;
    top: 5em;
    width: 100%;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    place-self: flex-start;
    border: 1px solid var(--indigo-blue);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tourdetailsBox {
    position: relative;
    overflow: hidden;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tourdetailsImg {
    float: left;
    width: 35%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.tourImg {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.tourdetailsText {
    line-height: 1.6;
}

.tourBuybutton {
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--indigo-blue);
    color: var(--white-color);
    width: 160px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 1) 1.95px 1.95px 2.6px;
        transition: all .3s ease-in-out;
    }
}

.tourdetailsInfo {
    clear: both;
    margin-top: 20px;
    /* font-weight: bold; */
    /* padding: 1em; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.tourdetailsInfo {
    margin: 20px 0;
}

.tabButtons {
    display: flex;
    gap: 10px;
    overflow: auto;
    justify-content: flex-start;
    /* border-bottom: 2px solid var(--indigo-blue); */
}

.tabButton {
    background-color: rgba(207, 221, 255, .5);
    color: var(--indigo-blue);
    border: none;
    /* font-size: 16px; */
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid ;
    transition: border-color 0.3s ease;
    outline: none !important;
    border-radius: 10px 10px 0 0;
}

.tabButton:hover {
    border-color: #ccc;
}

.activeTab {
    border-color: rgba(207, 221, 255, .5);
    background-color: var(--indigo-blue);
    color: var(--white-color);
}

.tabContent {
    padding: 15px;
    /* background: #f9f9f9; */
    border: 1px solid var(--indigo-blue);
    border-radius: 0px 0px 10px 10px;
}

.titleFlex {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.cireules {
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.cireules svg {
    font-size: 18px;
}

.expenedMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expendBox {
    border-left: 1px dashed #c4c4c4;
    padding: 0 0 10px 15px;
    position: relative;
}

.location{
    position: absolute;
    top: 0px;
    left: -9px;
    background-color: var(--white-color);
    font-size: larger;
}

.boxContent {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.boxContent.open {
    max-height: 500px;
    padding: 15px;
}

.boxContent.close {
    max-height: 0;
    padding: 0;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.descBox {
    background-color: #f5f5f5;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inclusionsFlex {
    display: flex;
    gap: 10px;
}

.inExboxes{
    width: 50%;

    &>h5 {
        font-size: 14px;
        margin: 10px 0 10px 0;
    }
}

.listGroup {
    padding-left: 0;
    margin-bottom: 20px;
}

.listGroupItems {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.spanText {
    display: block;
    font-size: 14px;
    font-style: italic;
    color: var(--secondary-text);
    margin: 0 0 20px 0;
}

.nameList {
    margin: 0 0 8px 0;
    color: var(--secondary-text);
}

.ulList {
    margin: 0 0 16px 0;
    color: var(--secondary-text);
}

.liList {
    font-size: 14px;
    padding-left: 15px;
    position: relative;
    color: var(--secondary-text);
    font-weight: lighter;
}

.liList::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: var(--secondary-text);
    left: 0;
    top: 6px;
    border-radius: 100%;
}

@media (max-width: 768px) {

    .tourBox {
        flex-direction: column;
    }

    .tourImg {
        height: 65dvh;
    }

    .tourdetails {
        width: 100%;
    }

    .tourdetailsImg {
        float: none;
        width: 100%;
        height: auto;
        margin: 0 auto 15px;
        display: block;
    }
}

@media (max-width: 430px) {

    .tourImg {
        height: auto;
    }

    .tourdetails {
        width: 100%;
    }

    .tabButtons{
        padding: 0 10px;
    }

    .inclusionsFlex {
        flex-direction: column;
    }
    
    .inExboxes{
        width: 100%;
    }
}