
.tour {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    gap: 1em;
}

.filters {
    flex: 0.5 1;
}

.filtersContainer {
    position: sticky;
    top: 4rem;
}

.filtersBox {
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterItem {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filterCheckbox[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.filterName {
    font-size: 16px;
    cursor: pointer;
}

.tourGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(270px, 1fr));
    gap: 1rem;
    flex: 2;
}

.tourCard {
    width: 100%;
    max-width: 270px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dbdbdb;

    &:hover {
        box-shadow: 0 0 20px 0px #484646;
        transition: box-shadow 0.3s ease-in-out;
    }
}

.tourImage {
    position: relative;
    overflow: hidden;
    min-width: 150px;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.3));
}

.tourImg {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.tourDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;

    & > h1 {
        font-size: clamp(0.1rem, 1rem + 0.5vw, 4rem);
        padding: 0 0 10px 0;
    }

    & > h4 {
    font-size: clamp(0.9rem, 1vmin + 0.2rem, 2rem);
    }

    & > p {
        margin: 0 0 1rem 0;
        font-size: medium;
        color: var(--secondary-text);
    }
}

@media (max-width: 1030px) {

    .tourDetails {
        flex-shrink: 1.2;
    }

    .tourGrid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media (max-width: 770px) {

    .tour {
        flex-direction: column;
    }

    .filters {
        flex: 0.9 1;
    }

    .filtersContainer .filtersBox {
        display: block;
    }

    .mobileFilters {
        display: block;
    }

    .filterDropdown {
        display: flex;
        gap: 1em;
    }

    .dropdownToggle {
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: var(--border-radius);
        background-color: var(--indigo-blue);
        /* box-shadow: rgba(149, 157, 165) 0px 8px 10px; */
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .dropdownToggle:focus {
        outline: 1px solid transparent;
    }

    .tourImg {
        height: 65dvh;
    }
}

@media (max-width: 430px) {

    .tour {
        flex-direction: column;
    }

    .tourGrid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 1rem;
    }

    .tourCard {
        max-width: max-content;
    }

    .tourImage {
        height: 280px;
        max-width: none;
    }
}
