:root {

  --orange-color: #E5A13E;
  --mystic-blue: #091D36;
  --venice-blue: #598EC2;
  --danube-blue: #9BC1EE;
  --gray-flash: #F0EFF5;

  /* Festival Color */
  --safforn-orange: #FF9933;
  --indigo-blue: #3F51B5;
  --turmeric-yellow: #FFC107;
  --cream-white: #FFF8DC;

  /* Royal Color */
  --deep-maroon: #800000;
  --golden--yellow: #FFD700;
  --peacock-green: #228B22;
  --sandy-beige: #F5DEB3;

  /* Spiritual Color */
  --vermilion-red: #FF4500;
  --holy-ganges-blue: #4682B4;
  --sandalwood-brown: #D2B48C;
  --lotus-pink: #FFB6C1;

  /* Nature-Inspired */
  --forest-green: #006400;
  --himalayan-sky-blue: #87CEEB;
  --earthy-brown: #8B4513;
  --mustard-yellow: #FFDB58;

  /* Vibrant Markets */
  --rani-pink: #E0115F;
  --turquoise-blue: #40E0D0;
  --sunset-orange: #FF6347;
  --lvory-color: #FFFFF0;

  /* --font-size: 0.390625vw; */
  --black-color: #1a1e18;
  --white-color: #ffffff;
  --grey-color: #f4f4f4;
  --error-color: #ff0000;
  --secondary-text: #333333;
  --border-radius: 0;
}

@font-face {
  font-family: 'Cina Geo';
  src:
    url('../fonts/CinaGEOTest-Regular-BF640158993b49e.otf') format('opentype'),
    url('../fonts/CinaGEOTest-Medium-BF64015899849c0.otf') format('opentype'),
    url('../fonts/CinaGEOTest-SemiBold-BF64015899cbc35.otf') format('opentype'),
    url('../fonts/CinaGEOTest-Thin-BF6401589a20010.otf') format('opentype'),
    url('../fonts/CinaGEOTest-Light-BF64015899c5366.otf') format('opentype'),
    url('../fonts/CinaGEOTest-Black-BF6401589996142.otf') format('opentype'),
    url('../fonts/CinaGEOTest-Bold-BF64015899f3908.otf') format('opentype'),
    url('../fonts/CinaGEOTest-ExtraBold-BF640158980b295.otf') format('opentype'),
    url('../fonts/CinaGEOTest-ExtraLight-BF6401589a08ee8.otf') format('opentype');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 0px; /* Adjust width */
  height: 6px; /* Adjust height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change scrollbar track color */
  border-radius: 25px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #949698bb; /* Change scrollbar thumb color */
  border-radius: 25px;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6d6f; /* Darker shade when hovered */
}

html,
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white-color);
  font-family: 'Cina Geo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* font-size: calc(var(--font-size) * 1.125rem); */
  line-height: 1.6;
}

h1 {
  font-size: clamp(0.1rem, 1rem + 2vw, 4rem);
}

h2 {
  font-size: clamp(1.8rem, 1vw + 1rem, 6rem);
}

h3 {
  font-size: clamp(1.5rem, 1vw + 0.9rem, 4rem);
}

p {
  font-size: clamp(0.9rem, 1vmin + 0.7rem, 2rem);
  color: var(--secondary-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul,
button,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Cina Geo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button:focus,
input:focus,
select:focus {
  cursor: pointer;
  border: none;
  outline: 1px solid var(--black-color);
}

input:user-valid {
  outline-color: var(--forest-green);
}

input:user-invalid {
  outline-color: var(--deep-maroon);
}

.bodyflex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.tablebutton {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.editbtn {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.deletebtn {
  background-color: #f44336;
  color: white;
  border: none;
}

.tablebutton:hover {
  opacity: 0.8;
}


.layout {
  padding: 1em;
  margin: auto;
  max-width: 1400px;
}

.readMore {
  border: 1px solid transparent;
  width: max-content;
  padding: 0.8em 2em;
  color: var(--white-color);
  background-color: var(--indigo-blue);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--indigo-blue);
    background-color: var(--white-color);
    color: var(--indigo-blue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease-in-out;
  }
}

.loadingButton {
  background-color: var(--grey-color);
  color: var(--indigo-blue);
  padding: 0.5em 1em;
  border: 1px solid var(--indigo-blue);
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
}

.loadingDots::after {
  content: " ";
  display: inline-block;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0% { content: " "; }
  33% { content: "."; }
  66% { content: ".."; }
  100% { content: "..."; }
}

.errorMsg {
  color: var(--error-color);
  margin: 0;
  font-size: medium;
}

.tremCondition {
  display: flex !important;
  align-items: baseline;
  gap: 1rem;
}

.terms,
.privacy {
  color: var(--indigo-blue);
}

.terms:hover,
.privacy:hover {
  text-decoration: underline;
}

.heroSection {
  position: relative;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: 9;
}

.heroText {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 430px) {

  .layout {
    padding: 1em;
  }

  .heroSection {
    height: 20rem;
  }

  .readMore {
    padding: 0.5em 1.5em;
    margin: 1em auto;
    display: block;
  }

  h1 {
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
  }

  h2 {
    font-size: clamp(1rem, 1vmax + 0.6rem, 3rem);
  }

  h3 {
    font-size: clamp(1rem, 1vmax + 0.5rem, 2rem);
  }
}