.popupoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupcontent {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popupImage {
  position: relative;
  width: 600px;
  height: 80vh;
}

.closebutton {
  margin: 1em 1em 0 0;
  padding: 0.5em 1em;
  font-size: 20px;
  background-color: transparent;
  color: var(--white-color);
  border: none;
  border-radius: calc(var(--border-radius) / 2);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    background-color: var(--grey-color);
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
  }
}

.hadingBox {
  margin: 2rem 0 0 0;
  text-align: center;
  border-radius: var(--border-radius);
}

.fixedText {
  display: flex;
  justify-content: center;
}

.textBox {
  color: var(--indigo-blue);
}

.homeTour {
  width: 100%;
  padding: 3em 0 3em 0;
  margin: 2rem 0 0 0;
  background-color: var(--grey-color);
  border-radius: var(--border-radius);
}

.homeTour:nth-child(even) {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px 0px var(--gray-flash);
}

.scrollRevel span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  animation: scroll-reveal linear forwards;
  --webkit-animation: scroll-reveal linear forwards;
  animation-timeline: view();
  --webkit-animation-timeline: view();
}

.scrollRevel span {
  --webkit-animation-range-start: cover 10vh;
  animation-range-start: cover 10vh;
  --webkit-animation-range-end: cover 40vh;
  animation-range-end: cover 40vh;
}

@keyframes scroll-reveal {
  to {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.8s ease-out, opacity 1s ease-out;
  }
}

@-webkit-keyframes scroll-reveal {
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: transform 0.8s ease-out, opacity 1s ease-out;
  }
}

.homeTourFlex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 3rem;
  align-items: stretch;
}

.homeTour:nth-child(odd) .homeTourFlex>div:nth-child(2) {
  order: -1;
}

.imgBox {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.3));
  border-radius: var(--border-radius);
}

.tourImg {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;

  &:hover {
      transform: scale(1.1);
  }
}

.mainBox {
  text-align: center;
  padding: 1em;
  margin: 1rem 0 0 0;
  border-radius: var(--border-radius);

  &>h2 {
    padding: 0 0 1em 0;
  }
}

.whyBook {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(29ch, 1fr));
  color: var(--secondary-text);
}

.whyBox {
  position: relative;
  border: 1px solid var(--indigo-blue);
  border-radius: var(--border-radius);
  padding: 1em;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease-in-out;
  box-shadow: 0px 5px 2px 0px var(--gray-flash);
  text-align: center;
}

.icons {
  height: 2rem !important;
}

.icons>svg {
  height: 100%;
  width: 100%;
}

.whyBox h3,
.whyBox p,
.whyBox .icons {
  position: relative;
  z-index: 2;
}

.whyBox::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--indigo-blue);
  z-index: 1;
  cursor: pointer;
  transition: bottom 0.5s ease-in-out;
}

.whyBox:hover::before {
  cursor: pointer;
  bottom: 0;
}

.whyBox:hover {
  color: var(--white-color);

  & p{
    color: var(--white-color);
  }
}

@media (max-width: 1024px) {

  .popupImage {
    width: 500px;
    height: 80vh;
  }

  .imgBox {
    height: 350px;
  }

  .homeTourFlex {
    padding: 0 2rem;
  }
}

@media (max-width: 770px) {

  .homeTourFlex {
    grid-template-columns: 1fr;
  }

  .homeTour:nth-child(odd) .homeTourFlex>div:nth-child(2) {
    order: 0;
  }

  .tourImg {
    width: 45%;
    height: 300px;
  }
}

@media (max-width: 430px) {

  .popupImage{
    width: 95vw;
    height: 80vh;
  }

  .homeTour {
    padding: 0em 0 0.7em 0;
    margin: 1em 0 0 0;
  }

  .homeTourFlex {
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
  }

  .imgBox {
    width: 100%;
    height: 250px;
  }

  .tourImg {
    width: 100%;
    height: 200px;
  }

  .whyBook {
    grid-template-columns: auto;
  }
}